.App {
  text-align: center;
}

li {
  width: 100vw;
  height: 5vh;
  background-color: #ffb655;
  text-align: center;
  list-style: none;
  margin: 1vh;
}

#navbar {
  margin: none;
  padding: 0;
}

#snailText {
  width: 60vw;
}

#snailPic {
  width: 20vw;
}

#header {
  margin: 0 auto;
  width: 80%;
}

#contactInfo {
  text-align: center;
}

.link {
  text-decoration: none;
  color: black;
}

button {
  background-color: #ffb655;
  border-radius: 10px;
  padding: 1vw;
  position: relative;
  left: 7vw;
  top: 20vw;
}

form {
  position: relative;
  left: 7vw;
  top: 10vw;
}
